.button {
  width: 106px;
  height: 55px;
  background: #498094; /* TODO: programatic color */

  display: table;
  cursor: pointer;
  font-size: 0.85em;
  text-decoration: none;
  border-radius: 50px;
  border: 2px solid #c76141;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.button.loading {
  border-color: #c76141;
}

.button > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.button:active {
  border: 2px inset rgb(255, 34, 170);
  transition: all 0.2s ease 0s;
}

.button.letter {
  font-size: 1.6em;
}
