.button {
  width: 125px;
  margin: 2px;

  cursor: pointer;
  font-size: 1.1em;
  text-decoration: none;
  background: #60a3bc;
  border-radius: 50px;

  border: 5px solid #60a3bc;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.button > div {
  padding: 16px 15px;
}

.button:active {
  border: 5px inset rgb(255, 34, 170);
  transition: all 0.2s ease 0s;
}
