.button {
  width: 100%; /* allows flexbox to [mostly] decide width */
  min-width: 104px;
  height: 55px;
  background: #152126; /* TODO: programatic color */
  color: #ffd6bb; /* TODO: programatic color */

  display: table;
  cursor: pointer;
  font-size: 0.85em;
  text-decoration: none;
  border-radius: 50px;
  border: 2px solid #c76141;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.button.loading {
  border-color: #008cc3;
  color: #23c1ff;
}

.button.fail {
  border-color: #f50b0b;
}

.button .hidden {
  display: none;
}

.btn > div,
.button > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 2px;
}

.button.letter {
  font-size: 1.95em;
  font-weight: bold;
}
