.right-side.edit-panel {
  background-color: #001a26;
  width: 300px;
  color: white;
  font-size: 1.3em;
  overflow-y: auto;
}

.edit-panel,
.edit-label,
.edit-field,
.edit-field input {
  width: 100%;
}

.edit-panel .edit-form {
  text-align: center;
}

.edit-panel .close-icon {
  margin: 0.3em;
  cursor: pointer;
}

.edit-panel .title {
  margin-top: 20px;
  text-align: center;
}

.edit-buttons {
  margin: 40px 10px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.edit-buttons .item:last-child {
  margin-left: auto;
}

.edit-label {
  color: #d7aba5;
  font-size: 1.2em;
}

.edit-field input {
  text-align: center;
  margin: 0 3px;
}

.edit-field input.lg {
  font-size: 1.1em;
}

.edit-field input.check-lg {
  width: 25px;
  height: 25px;
}

.field-group {
  margin: 20px 0;
}

.sample-button {
  padding: 20px 0;
}

.sample-button .item {
  display: inline-block;
  text-align: center;
}
