/* https://github.com/haltu/muuri#getting-started  */
.grid {
  position: relative;
}

.item {
  margin: 5px;
  z-index: 1;
}

.item-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
}
