.group {
  width: 350px;
  margin: 3px;
  float: left;
  display: flex;
}

.group .title {
  padding-left: 10px;
}

h2 {
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

.group .title {
  position: relative;
  z-index: 1;
  flex-grow: 1;
  width: 100%;
}
