.group {
  width: 350px;
  margin: 3px;
  float: left;
  display: flex;
}

h2 {
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

.group .title {
  position: relative;
  z-index: 1;
  flex-grow: 1;
  width: 100%;
  padding-left: 10px;
}

.group.focus {
  border: 2px dashed #6db1d1;
}

.dashboard:not(.edit-mode) .group .item {
  /* forces all per row to be the same width (1/3rd, 1/2, or full row width) */
  flex: 1 1 0px;
}

.dashboard.edit-mode .group .item {
  /* forces all buttons to be the same width (1/3rd) */
  flex: 0 0 0px;
}
