body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  height: 100%;
  margin: auto;
}

.area {
  display: flex;
  flex-wrap: wrap;
}

.main .area {
  flex-direction: column-reverse;
  max-height: 300px;
  justify-content: right;
}

.footer .area {
  flex-wrap: wrap-reverse;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main {
  background: deepskyblue;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
  overflow-y: auto;
  max-height: 300px;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0 0;
  }
}

@media all and (min-width: 600px) {
  .main {
    flex: 3 0px;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .aside-2 {
    order: 3;
  }
  .footer {
    order: 4;
  }
}

.separator {
  width: 125px;
  text-align: center;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  line-height: 1;
  font-size: 1.3em;

  margin: 10px 0 20px;
}
.separator > div {
  background: deepskyblue;
}
