html,
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  font-family: "Roboto";
}

.flex {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pusher {
  flex: 1 0 auto;
  xbackground: deepskyblue;
}

.main {
  padding: 10px;
  xbackground: deepskyblue;
}

.footer {
  flex-shrink: 0;
  xbackground: hotpink;
}

.footer .common {
  display: flex;
  flex-direction: column;
}

/* this is covering the pink area */
.footer .common-groups {
  xbackground-color: goldenrod;
  padding: 10px;
}

.footer .common-buttons {
  padding: 10px;
}
