html,
body {
  background-color: #000d13;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root,
.dashboard {
  height: 100%;
  font-family: "Roboto";
}

.centered {
  text-align: center;
}

.title {
  color: #6db1d1; /* default */
  font-weight: bold;
  font-size: 1.26em;
}

.loader {
  height: 100%;
  text-align: center;
  padding: 400px;
}

.dashboard.edit-mode {
  border: 4px dashed #e64c3a;
}

.edit-mode .group .title {
  cursor: pointer;
}

.group.selected {
  background-color: #1f3e4d;
}

.flex {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flex-vertical {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.flex-main {
  flex-basis: auto;
  flex-grow: 1;
}

.pusher {
  flex: 1 0 auto;
  xbackground: deepskyblue;
}

.applications,
.filters {
  text-align: center;
}

.app-item,
.tag-item {
  color: rgb(24, 144, 214);
  margin: 0 10px;
  opacity: 0.7;
  cursor: pointer;
}

.app-item.selected,
.tag-item.selected {
  font-weight: bold;
  opacity: 1;
  font-size: 1.45em;
}

.main {
  padding: 5px 3px;
  xbackground: deepskyblue;
}

.main .grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.right-side {
  width: 120px;
  overflow: hidden;
  flex-shrink: 0;
}

.right-split {
  display: flex;
  flex-direction: column;
}

.recent {
  flex-grow: 1;
  xbackground-color: limegreen;
}

.settings {
  xbackground-color: royalblue;
}

/* display horizontally */
.top,
.footer .common-buttons .grid {
  display: flex;
  flex-wrap: wrap;
}

.footer .common {
  display: flex;
  flex-direction: column;
}

/* this is covering the pink area */
.footer .common-groups {
  padding-left: 3px;
  xbackground-color: goldenrod;
}

.footer .common-buttons {
  padding: 0 0 0 3px;
}

.hide {
  display: none;
}
